:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* background-color: black; */


}
body,
html {
  height: 100%;
  background-color: #e5e4e4;
}
/* styles.css */
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: rgb(0, 0, 0) !important;
 
}
